@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-montserrat: "Montserrat";

  --color-primary: #2392F3;
  --color-accent: #FBBB06;
  --color-dark: #1E1F39;
  --color-success: #02C402;
  --color-gray: #9A9A9A;
  --color-gray-dark: #4F4F4F;
  --color-white: #FFFFFF;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #1E1F39; */

  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* * {
  outline: 1px solid rgba(255, 0, 0, 0.1);
} */

body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white;
  font-family: "Montserrat";
  overflow-x: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  @apply hidden md:flex;
}

.swiper-pagination {
  @apply !bottom-2;
}

.swiper-container {
  overflow: hidden !important;
}